<section class="panel col col--3 collection-create">
</section>
<section class="panel col col--6 collection-select" xmlns="http://www.w3.org/1999/html">
  <h1 class="text-align-center">Select a collection</h1>
  <table class="collections-select-table">
    <thead>
    <tr>
      <th id="collection-name" scope="col">Collection name</th>
      <th id="collection-date" scope="col">Collection date</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr data-id="{{id}}" data-name="{{name}}">
        <td headers="collection-name" class="collection-name">{{name}}</td>
        <td headers="collection-date" class="collection-date">{{date}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>

<section class="panel col col--12 collection-selected">
  <nav class="panel col col--1 workspace-nav">
    <ul class="nav nav--workspace">
      <div id="nav--workspace__welsh" style="margin-top: 20px;"></div>
      <br/>
    </ul>
  </nav>
  <div class="col col--4 workspace-menu">
    <p style="color: #f5f6f7">Loading ...</p>
  </div>
  <section class="panel col col--7 workspace-browser">
    <div class="browser">
      <iframe id="iframe" src=""></iframe>
    </div>
  </section>
</section>