<section class="panel col col--2 collection-create">
</section>
<section class="panel col col--8 collection-select" xmlns="http://www.w3.org/1999/html">
  <h1 class="text-align-center">Select a collection</h1>
  <table class="collections-select-table">
    <thead>
    <tr>
      <th id="collection-name" scope="col">Collection name</th>
      <th id="collection-date" scope="col">Collection date</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr data-id="{{id}}" data-name="{{name}}">
        <td headers="collection-name" class="collection-name">{{name}}</td>
        <td headers="collection-date" class="collection-date">{{date}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>

<section class="panel col col--12 collection-selected">
  <section class="panel col col--12 workspace-browser">
    <div class="browser">
      <iframe id="iframe" src=""></iframe>
    </div>
  </section>
</section>